.parallax {
  background-image: url("../public/images/siteImages/home-1-crop.jpg");
  min-height: 570px;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-sm {
  background-image: url("../public/images/siteImages/home-1-crop.jpg");
  min-height: 570px;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.parallax2 {
  background-image: url("../public/images/siteImages/home-2.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  background-image: url("../public/images/siteImages/home-3.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
